@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;900&display=swap');
* {
  box-sizing: border-box;
}



.navLinks {
  display: flex;
}

.navLinks li {
  list-style: none;
  margin: 0.5rem 1rem;
}

.navLink {
  text-decoration: none;
  font-weight: bolder;
  font-size: 1rem;
}

.navLink:hover {
  text-decoration: underline;
}

.bookList {
  list-style: none;
}


.formContainer {
  margin-left: 8%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.addBook {
  color: gray;
  font-weight: bolder;
}

.formTitle {
  padding-right: 22%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 2px;
  border: 2px solid silver;
}

.formAuthor {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 2px;
  border: 2px solid silver;
}

.input-submit {
  padding: 0.5rem 1.5rem;
  color: #fff;
  background-color: rgb(29, 124, 231);
  border: none;
  border-radius: 5px;
}

.category {
  display: flex;
}

.status {
  width: 100px;
  padding: 0.8rem;
  margin: 1rem auto;
}
.eachbook {
  display: flex;
  justify-content: space-between;
  border: 1px solid #e8e8e8;
  margin: 6.25rem;

}
.bookCategory{
  font-size: 0.875rem;
  color: #121212;
  font-family: 'Montserrat', sans-serif;
}
.bookTitle {
  font-family: 'Roboto Slab', serif;
}


